body {
}
h1,p {
    text-align:center;
}
.div_ogolny,.div_admina_ogolny {
    width:700px;
    min-height:500px;
    margin:auto;
    background-color:green;
    border:5px solid black;
    padding-bottom:30px;
}
.admin_form {
    text-align:center;
}
#bsLoginAdmGrid {
    width:200px;
    margin:auto;
}
#SzczegolyPracownikowGrid {
    width:500px;
    margin:auto;
}
#ListaDzialowDdl{
    width:130px;
    margin:auto;
}
#ListaZarejestrowanychPraconikowGrid{
    width:500px;
    margin:auto;
    margin-bottom:30px;

}
